{% extends "template.html "%}
{% block content %}

	<h2>Welcome, Your are Logged In</h2>
	
	Click <a href="/logout">here</a> to Logout
	
	<h2>Message Page:</h2>

<h3>Type Your Message:</h3>
<form action='{{ request.path }}' method='POST'>
<input type="text" name="text1" maxlength=80 style="width:300px">
<table>
<tr>
  <td colspan=2 align=right>
    <h5>Maximum Length = 80</h5><input name="submit_action" type="submit" value="Submit Message">
  </td>
</tr>
</table>
</form>


<h3>The Existing Messages:</h3>
	{% for item in message %}
	<h4>"{{ item.msg_id }}"</h4>: {{ item.msg_msg }} <br/><br/>
	{% endfor %}

{% endblock %}