{% extends "template.html "%}
{% block content %}
	<div class="jumbo">
		<h2>Abhimanyu Welcomes You </h2>
		<br/>
		<p><h4>Hi I am Abhimanyu Choithramani,<br/> 

As per the given insturtions, I have made this Project Junior,<br/> 
using Flask/python, and SQLite, I have got two pages Home and Login respectivly,in this project,<br/>Click on "Login" from the Navbar to LOG-IN and to read the messages<br/> Or to Post your own messages.

The USERNAME and PASSWORD are 'username' and 'password' respectively; <br/>i.e.; <br/>Username= username<br/>Password= password<br/><br/>

Do go thorough the Project and feed me back with your comments at:<br/> abhimanyuchoithramani@rediffmail.com<br/><br/>

-Abhimanyu.<br/> +91-9038409517<br/> +91-9831199551
.</h4><br/><br/><br/> </p><br/><br/><br/><br/>
	<p>Made by Abhimanyu Choithramani<br/>
	Contact Num: +91-9038409517, +91-9831199551.
	
	</div>
{% endblock %}