<!DOCTYPE html>
<html>
	<head>
	<title>Abhimanyu Choithramani</title>
	<link  rel="stylesheet"  href="{{  url_for('static', filename='css/flask-bootstrap-master/flask_bootstrap/static/css/bootstrap.css')  }}">
        </head>
        <body>
	<header>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand"><a href="/">Abhimanyu Choithramani</a>
			<ul class="nav">
				<li class="active"><a href="/">Home</a><li>
				
				<li><a href="/log">Login</a></li>
			</ul>
		</div>
	</div>
	</header>
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>               
        </body>
    </html>